service: manager-backend

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1

functions:
  hello:
    handler: handlers.hello
    events:
      - http:
          path: /
          method: get
          cors: true

  getTasks:
    handler: handlers.getTasks
    events:
      - http:
          path: tasks
          method: get
          cors: true

  createTask:
    handler: handlers.createTask
    events:
      - http:
          path: tasks
          method: post
          cors: true

plugins:
  - serverless-offline

custom:
  serverless-offline:
    httpPort: 3001
    stage: dev
